* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

table,
td,
th {
    border: 0px solid;
    text-align: left;
    padding: 10px 20px;
}

thead {
    background-color: #545f91;
}

tbody:nth-child(2n) {
    /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.6336659663865547) 77%, rgba(0, 212, 255, 1) 100%); */
    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 0.6168592436974789) 100%); */
    background: linear-gradient(90deg, #90a5bb 0%, #0a64c5ba 30%, #719aac 100%);
}

td:nth-child(2) {
    background: radial-gradient(circle, rgba(238, 174, 202, 0.055) 0%, rgba(148, 188, 233, 0.932) 100%);
}

td:nth-child(1) {
    background: linear-gradient(90deg, rgba(121, 115, 164, 1) 0%, rgba(144, 165, 187, 0.8241421568627451) 100%);
}