* {
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.bg {
    background-image: url(./img..jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


img {
    width: 100%;
    border-radius: 50px 50px;
}

.col_1 {
    width: 100%;
}

.sec-1 {
    color: antiquewhite;
    text-align: center;
    margin-top: 40px;
}