@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    html {
        font-size: 60%;
    }

    .pra2 {
        width: 250px;
    }

    .sec2-text p {
        text-align: justify;
    }

    .col-25 {
        width: 90%;
        margin: 10px;
    }

    .col-50 {
        width: 100%;
    }

    .sec3-text1 button {
        margin: 15px 0;
    }

    .sec4-text h2 {
        margin: 59px;
    }

    .sec4-text p {
        margin: 60px 0;
        text-align: justify;
    }

    .sec5-text {
        margin-left: auto;
        margin-top: -100px;
    }

    .col-30 {
        width: 100%;
    }

    .sec8-text h2 {
        padding: 5px 0;
    }

    .sec8-text p {
        padding: 5px 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    html {
        font-size: 62%;
    }

    .pra2 {
        width: 300px;
    }

    .col-25 {
        width: 43%;
        margin: 10px;
    }

    .col-50 {
        width: 100%;
    }

    .sec3-text1 button {
        margin: 20px 0;
    }

    .sec4-text p {
        margin: -34px 0 0;
        text-align: justify;
    }

    .col-30 {
        width: 100%;
    }

    .sec8-text p {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    html {
        font-size: 65%;
    }

    .pra2 {
        width: 410px;
        text-align: justify;
    }

    .sec2-text p {
        text-align: center;
    }

    .col-25 {
        width: 31%;
    }

    .col-50 {
        width: 50%;
    }

    .sec4-text p {
        text-align: center;
    }

    .col-30 {
        width: 100%;
    }

    .sec8-text p {
        text-align: center;
    }
}

@media (min-width: 1380px) {
    .container {
        width: 1340px;
        margin: 0 auto;
    }

    html {
        font-size: 70%;
    }

    .pra2 {
        width: 550px;
    }

    .col-25 {
        width: 25%;
    }

    .col-50 {
        width: 50%;
    }

    .sec4-text {
        margin: 80px 0;
    }

    .sec5-text h2 {
        margin-top: 100px;
    }

    .sec5-text {
        margin-top: 50px;
    }

    .col-30 {
        width: 30%;
    }
}