@media (min-width: 320px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }

    html {
        font-size: 62%;
    }

    .header-text {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-text p {
        padding: 0;
    }

    .header-text h2 {
        padding: 0;
    }

    .header-bg1 {
        height: 420px;
    }

    .sec2-text {
        padding: 40px 0px;
    }

    .logo img {
        width: 50%;
    }

    .col-50 {
        width: 100%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row-reverse;
    }

    .sec4-text2 h3 {
        padding: 17px;
    }

    .sec4-text1 h2 {
        padding: 0;
    }

    .col-30 {
        width: 100%;
    }

    .col40 {
        width: 100%;
    }

    .col20 {
        width: 33%;
    }

    .footer-text1 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .footer-text1 ul li {
        padding: 0;
    }

    .footer-bg1 {
        height: 470px;
    }

    .header-img1 {
        top: 0px;
        right: 0px;
        z-index: -2;
        transform: rotate(350deg);
    }

    .header-img2 {
        z-index: -2;
        top: 0px;
        right: 0px;
    }

    .sec5-text1 {
        margin: 0;
        padding: 0;
    }

    .sec5-text1 p {
        padding: 10px;
    }

    .sec6-text1 {
        padding: 0;
    }

    .footer-img1 {
        top: 70px;
        left: 0px;
        z-index: -2;
    }


    .footer-img2 {
        top: 38px;
        left: 0px;
        z-index: -2;
    }

}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    html {
        font-size: 75%;
    }

    .header-text {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-text p {
        padding: 10px;
    }

    .header-bg1 {
        height: 420px;
    }

    .sec2-text {
        padding: 60px 0px;
    }

    .logo img {
        width: 60%;
    }

    .col-50 {
        width: 100%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row-reverse;
    }

    .sec4-text2 h3 {
        padding: 15px;
    }

    .col-30 {
        width: 100%;
    }

    .col40 {
        width: 100%;
    }

    .col20 {
        width: 33%;
    }

    .footer-text1 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .footer-text1 ul li {
        padding: 5px;
    }

    .footer-bg1 {
        height: 480px;
    }

    .header-img1 {
        top: 247px;
        right: -202px;
        z-index: -2;
        transform: rotate(350deg);
    }

    .header-img2 {
        z-index: -2;
        top: 249px;
        right: -211px;
    }

    .footer-img1 {
        top: -124px;
        left: -141px;
        z-index: -2;
        transform: rotate(349deg);
    }

    .footer-img2 {
        top: -183px;
        left: 16px;
        z-index: -2;
        transform: rotate(329deg);
    }

}

@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    html {
        font-size: 73%;
    }

    .header-text {
        margin: 30px;
        padding: 30px;
        width: 100%;
    }

    .header-text p {
        padding: 10px;
    }

    .header-bg1 {
        height: 550px;
    }

    .logo img {
        width: 70%;
    }

    .col-30 {
        width: 45%;
    }

    .col-50 {
        width: 100%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row-reverse;
    }

    .sec4-text2 h3 {
        padding: 15px;
    }

    .sec4-text2 p {
        margin: 10px;
    }

    .col40 {
        width: 100%;
    }

    .col20 {
        width: 33%;
    }

    .footer-text1 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .footer-text1 ul li {
        padding: 5px;
    }

    .footer-bg1 {
        height: 490px;
    }

    .header-img1 {
        top: 292px;
        right: -259px;
        z-index: -2;
        transform: rotate(350deg)
    }

    .header-img2 {
        z-index: -2;
        top: 355px;
        right: -211px;
    }

    .footer-img1 {
        top: -150px;
        left: -141px;
        z-index: -2;
        transform: rotate(349deg);
    }

    .footer-img2 {
        top: -121px;
        left: 16px;
        z-index: -2;
        transform: rotate(162deg);
    }

}

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    html {
        font-size: 75%;
    }

    .header-text {
        margin: 25px;
        padding: 25px;
        width: 85%;
    }

    .header-text p {
        padding: 50px;
    }

    .header-bg1 {
        height: 550px;
    }

    .logo img {
        width: 70%;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row;
    }

    .sec3-text1 button {
        padding: 10px 30px;
    }

    .sec3-text1 {
        padding: 25px;
    }

    .sec4-text2 h3 {
        padding: 15px;
    }

    .sec4-text2 p {
        margin: 10px;
    }

    .col40 {
        width: 100%;
    }

    .col20 {
        width: 30%;
    }

    .footer-text1 {
        padding: 20px;
        margin: 20px;
    }

    .footer-bg1 {
        height: 620px;
    }

    .header-img1 {
        top: 239px;
        right: -234px;
        z-index: -2;
        transform: rotate(345deg);
    }

    .header-img2 {
        z-index: -2;
        top: 376px;
        right: -211px;
    }

    .footer-img1 {
        top: -150px;
        left: -141px;
        z-index: -2;
        transform: rotate(349deg);
    }

    .footer-img2 {
        top: -121px;
        left: 16px;
        z-index: -2;
        transform: rotate(162deg);
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    html {
        font-size: 85%;
    }

    .header-bg1 {
        height: 650px;
    }

    .header-text h2 {
        margin: 0 85px;
        padding: 0 85px;
    }

    .logo img {
        width: 70%;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row;
    }

    .sec3-text1 button {
        padding: 10px 30px;
    }

    .sec3-text1 {
        padding: 25px;
    }

    .sec4-text2 h3 {
        padding: 15px;
    }

    .sec4-text2 p {
        margin: 20px;
    }

    .col40 {
        width: 40%;
    }

    .col20 {
        width: 20%;
    }

    .footer-text1 {
        padding-top: 50px;
        margin-top: 50px;
    }

    .footer-bg1 {
        height: 530px;
    }

    .header-img1 {
        top: 281px;
        right: -266px;
        z-index: -2;
        transform: rotate(345deg);
    }

    .header-img2 {
        z-index: -2;
        top: 448px;
        right: -196px;
    }

    .footer-img1 {
        top: -150px;
        left: -141px;
        z-index: -2;
        transform: rotate(349deg);
    }

    .footer-img2 {
        top: -121px;
        left: 16px;
        z-index: -2;
        transform: rotate(162deg);
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
        margin: 0 auto;
    }

    html {
        font-size: 95%;
    }

    .header-text {
        width: 80%;
    }

    .header-bg1 {
        height: 770px;
    }

    .logo img {
        width: 80%;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }

    .sec3-box {
        display: flex;
        flex-direction: row;
    }

    .sec3-text1 button {
        padding: 10px 30px;
    }

    .sec3-text1 {
        padding: 40px;
    }

    .sec4-text2 h3 {
        padding: 15px;
    }

    .sec4-text2 p {
        margin: 20px;
    }

    .col40 {
        width: 40%;
    }

    .col20 {
        width: 20%;
    }

    .footer-text1 {
        padding-top: 90px;
        margin-top: 90px;
    }

    .footer-bg1 {
        height: 680px;
    }

    .header-img1 {
        top: 383px;
        right: -195px;
        z-index: -2;
        transform: rotate(345deg);
    }

    .header-img2 {
        z-index: -2;
        top: 417px;
        right: 28px;
        transform: rotate(162deg);
    }

    .sec5-text1 p {
        padding: 30px 90px;
    }

    .sec6-text1 {
        padding: 70px;
    }

    .footer-img1 {
        top: -150px;
        left: -141px;
        z-index: -2;
        transform: rotate(349deg);
    }

    .footer-img2 {
        top: -121px;
        left: 16px;
        z-index: -2;
        transform: rotate(162deg);
    }
}