* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px;
    background: lightskyblue;
    font-family: serif;
    display: flex;
}

.header h1 {
    text-align: center;
    padding: 10px;
}

.logoimg img {
    width: 70px;
    padding: 10px;
}

.hader {
    height: 30px;
    background-color: lightslategray;
}

/* .kk,
.navbar {
    padding: 10px;
} */

a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-family: serif;

}

.right {
    float: right;
    padding: 10px 0;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.clir {
    clear: both;
}

.sidebar {
    padding: 20px;
    width: 50%;
}

.free {
    width: 50%;
}

.img img {
    width: 200px;
    border-radius: 10%;
    display: inline;
}

h2 {
    font-size: 20px;
    text-align: start;
    padding: 10px;
    margin: 10px;
    display: inline;
}

.main {
    background-color: white;
    padding: 20px;
    display: inline;
}

.sidebar {
    width: 20%;
}

.main {
    width: 80%;
}

.color {
    width: 100%;
    background-color: aquamarine;
}

.navbar ul li {
    display: inline-block;
    padding: 0 20px;
}

.sidebar1 {
    width: 50%;
}

.free1 {
    width: 50%;
}