div {
    border-color: gray;
    border: 50px;
    border: groove;
}

div {
    border: 10px burlywood outset;
}

div {
    border-color: grey;
    border-style: dashed;
    border-width: 5px;
}

.border-style-dashed {
    border-style: dashed;
}

.border-style-dotted {
    border-style: dotted;
}

.border-style-double {
    border-style: double;
}

.border-style-groove {
    border-style: groove;
}

.border-style-outset {
    border-style: outset;
}

.border-style-ridge {
    border-style: ridge;
}

.border-style-solid {
    border-style: solid;
}

div[class*="border-style"] {
    padding: 15px;
    margin: 20px;
    border-width: 5px;
}

.border-radi {
    /* border-radius: 15px; */
    display: inline-block;
    border: solid;
    border-color: cornflowerblue;
    margin: 20px;
    padding: 10px;
    /* border-radius: 50%; */
    /* border-radius: 0px 80px 0px 80px; */
    border-radius: 0px 20px 0px 20px;
}