div {
    outline-color: rgb(134, 49, 49);
    outline-style: dashed;
    outline: width 5px;
    padding: 20px;
    margin: 10px;
}

.outline-style-dashed {
    outline-style: dashed;
}

.outline-style-dotted {
    outline-style: dotted;
}

.outline-style-double {
    outline-style: double;
}

.outline-style-groove {
    outline-style: groove;
}

.outline-style-outset {
    outline-style: outset;
}

.outline-style-ridge {
    outline-style: ridge;
}

.outline-style-solid {
    outline-style: solid;
}

div[class*="outline-style"] {
    outline-width: 5px;
    padding: 20px;
    margin: 10px;
}

.outline-example {
    outline: 10px greenyellow ridge;
}