* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px solid; */
    font-family: sans-serif;
}

.conatiner {
    width: 1380px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header_bg2 {
    background: linear-gradient(90deg, rgba(19, 207, 147, 1) 0%, rgba(48, 191, 177, 1) 70%);
    margin: 30px 0;
    padding: 30px;
    color: #fff;
}

.col_30 {
    width: 30%;
}

.header_bg1 {
    background: linear-gradient(90deg, rgba(48, 191, 153, 1) 0%, rgba(19, 193, 207, 0.5439425770308124) 100%);
}

.header-icon1 {
    text-align: center;
}

.header-icon1 i {
    border-radius: 50%;
    margin: 10px;
    padding: 30px;
    font-size: 70px;
    background-color: rgba(7, 71, 71, 0.462);
}

.align {
    align-items: center;
}

.jsc {
    justify-content: center;
}

.header-text1 {
    padding: 40px;
    font-weight: 300;
}

.header-text1 h2 {
    font-size: 25px;
}

.header-text1 p {
    font-size: 20px;
    display: inline-block;
}

.header-text2 {
    padding: 0 50px;
}

.header-text2 p {
    border-bottom: 1px solid #ffffff4b;
    padding: 17px 0;
}

.header-text2 span {
    margin: 30px;
}

.header-text2 i {
    font-size: 25px;
}

.header-text2 .menu {
    font-size: 28px;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.header_bg3 {
    background: linear-gradient(90deg, rgba(240, 246, 244, 0.923) 64%, rgba(233, 227, 227, 0.973) 100%);
    margin: 30px 0;
    padding: 30px;
}

.header-text3 {
    padding: 0 50px;
    color: rgb(7, 71, 71);
}

.border {
    padding: 10px 0;
    border-bottom: 5px groove #3733331e;
}

.header-text3 p {
    padding: 5px;
    font-size: 20px;
}

.header-text3 h2 {
    padding: 5px;
    font-size: 35px;
}

.header-text3 h3 {
    padding: 5px;
    font-size: 24px;
}

.header-text4 input {
    padding: 14px 50px;
    margin: 5px;
    background-color: #fff;
    border: none;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.header-text4 span {
    top: 18px;
    right: 150px;
    color: rgb(7, 71, 71);
}

.col-30 {
    width: 30%;
}

.pas {
    padding: 10px;
}