@media (max-width: 1380px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .header-text1 {
        display: none;
    }

    .sec1-img1 {
        border-top-left-radius: 90%;
        padding: 20px;
        height: 620px;
        top: 50px;
    }

    .sec1-img-bg1 {
        width: 377px;
        height: 352px;
    }

    .sec1-img-text ul li {
        margin-top: 50px;
        padding-top: 50px;
    }

    .sec4-text1.pos-ab,
    .sec6-main .pos-ab {
        position: relative
    }

    .sec6-main .pos-ab .btn {
        top: 0;
        left: 0;
        padding: 10px 0 0;
    }


    .input input {
        font-size: 14px;
        width: 70%;
    }

    .input button {
        padding: 10px;
        font-size: 14px;
    }

    .sec6-img {
        margin: 0 20px;
    }

    .main-row .col-40 {
        width: 40%;
    }

    .main-row .col-50 {
        width: 55%;
    }

    .sec1-text1 h2 {
        font-size: 3rem;
    }

    .sec3,
    .sec5 {
        height: auto;
    }

    .sec1-img-text {
        margin: 15px 37.5px;
    }

    .sec4-text1 button {
        display: inline-block;
        margin: 30px 65px;
    }
}



@media (max-width: 1199px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .header-text1 {
        display: none;
    }

    .sec1-img1 {
        border-top-left-radius: 90%;
        padding: 20px;
        height: 475px;
        top: 141px;
    }

    .sec1-img-bg2 {
        width: 180px;
        height: 150px;
    }

    .sec1-img-bg1 {
        width: 320px;
        height: 300px;
    }

    .sec2 .col-30 {
        width: 33%;
    }

    .sec1-img-text {
        margin: 15px 20px;
    }

    .sec4-text1.pos-ab,
    .sec6-main .pos-ab {
        position: relative
    }

    .sec6-main .pos-ab .btn {
        top: 0;
        left: 0;
        padding: 10px 0 0;
    }


    .input input {
        font-size: 14px;
        width: 70%;
    }

    .input button {
        padding: 10px;
        font-size: 14px;
    }

    .sec6-img {
        margin: 0 20px;
    }

    .main-row .col-40 {
        width: 40%;
    }

    .main-row .col-50 {
        width: 55%;
    }

    .sec1-text1 h2 {
        font-size: 3rem;
    }

    .sec3,
    .sec5 {
        height: auto;
    }

    .sec4-text1 button {
        display: inline-block;
        margin: 30px 32px;
    }
}


@media (max-width: 991px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .header-text1 {
        display: none;
    }

    .col-50 {
        width: 50%;
    }

    .col-25 {
        width: 25%;
    }

    .col-60 {
        width: 60%;
    }

    .col-40 {
        width: 40%;
    }

    .sec2 .col-30 {
        width: 100%;
    }

    .col-30 {
        width: 80%;
    }

    .sec1-img1 {
        padding: 20px;
        height: 378px;
        top: 300px;
    }

    .sec1-img-bg2 {
        width: 150px;
        height: 148px;
    }

    .sec1-img-bg1 {
        width: 251px;
        height: 237px;
    }

    .sec1-img-text {
        margin: 15px 20px;
    }

    .sec4-text1.pos-ab,
    .sec6-main .pos-ab {
        position: relative
    }

    .sec6-main .pos-ab .btn {
        top: 0;
        left: 0;
        padding: 10px 0 0;
    }

    .sec3,
    .sec5 {
        height: auto;
    }

    .sec4-text1 button {
        margin-top: 0;
        margin-bottom: 0;
    }

    html {
        font-size: 80%;
    }

    .input input {
        font-size: 14px;
        width: 70%;
    }

    .input button {
        padding: 10px;
        font-size: 14px;
    }

    .sec6-img {
        margin: 0 20px;
    }

    .main-row .col-40 {
        width: 40%;
    }

    .main-row .col-50 {
        width: 55%;
    }

    .sec1-text1 h2 {
        font-size: 3rem;
    }

    .sec4-text1 button {
        display: inline-block;
        margin: 30px 100px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .header-text1 {
        display: none;
    }

    .col-50 {
        width: 100%;
    }

    .col-25 {
        width: 50%;
    }

    .col-60 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .col-30 {
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .sec1-img1 {
        padding: 20px;
        height: 500px;
        top: -80px;
        border-top-left-radius: 100%;
    }

    .sec1-img-bg2 {
        width: 150px;
        height: 148px;
    }

    .sec1-img-bg1 {
        width: 251px;
        height: 237px;
    }

    .header-text1 {
        display: none;
    }


    .sec2 .col-30 {
        width: 100%;
    }

    .col-30 {
        width: 90%;
    }

    .sec4-main {
        /* right: 50px; */
    }

    .sec4-text1.pos-ab,
    .sec6-main .pos-ab {
        position: relative
    }

    .sec6-main .pos-ab .btn {
        top: 0;
        left: 0;
        padding: 10px 0 0;
    }

    .sec3,
    .sec5 {
        height: auto;
    }

    html {
        font-size: 80%;
    }

    .input input {
        font-size: 14px;
        width: 70%;
    }

    .input button {
        padding: 10px;
        font-size: 14px;
    }

    .sec6-img {
        margin: 0 20px;
    }

    .main-row .col-40 {
        width: 40%;
    }

    .main-row .col-50 {
        width: 55%;
    }

    .sec1-text1 h2 {
        font-size: 3rem;
    }

    .sec4-text1 button {
        display: inline-block;
        margin: 30px 0;
    }
}


@media (max-width: 575px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .header-text1 {
        display: none;
    }

    .col-50 {
        width: 100%;
    }

    .col-25 {
        width: 100%;
    }

    .col-60 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .col-30 {
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }



    .header-text1 {
        display: none;
    }


    .sec2 .col-30 {
        width: 100%;
    }

    .col-30 {
        width: 100%;
    }

    .sec4-text1.pos-ab,
    .sec6-main .pos-ab {
        position: relative
    }

    .sec6-main .pos-ab .btn {
        top: 0;
        left: 0;
        padding: 10px 0 0;
    }

    .sec3,
    .sec5 {
        height: auto;
    }

    html {
        font-size: 80%;
    }

    .input input {
        font-size: 14px;
        width: 70%;
    }

    .input button {
        padding: 10px;
        font-size: 14px;
    }

    .sec6-img {
        margin: 0 20px;
    }

    .main-row .col-40 {
        width: 80%;
    }

    .sec1-text1 h2 {
        font-size: 2.8rem;
    }

    .sec1-text1 h3 {
        font-size: 2rem;
    }


    .main-row .col-50 {
        width: 100%;
    }


    .sec1-img1 {
        padding: 20px;
        height: 320px;
        top: -80px;
        border-top-left-radius: 100%;
    }

    .sec1-img-bg2 {
        width: 100px;
        height: 100px;
    }

    .sec1-img-bg1 {
        width: 220px;
        height: 237px;
    }

    .sec1-img-text {
        margin: 0 15px;
    }

    .sec1-img-text ul li {
        margin-top: 32px;
        padding-top: 32px;
    }

    .sec1-img-text ul i {
        padding: 0;
    }

    html {
        font-size: 80%;
        text-align: center;
    }

    .sec3-text2 p {
        padding: 0 15px;
    }

    .sec6-text1 p {
        padding: 10px 15px;
    }

    .sec1-text1 h2 {
        line-height: 50px;
        text-align: center;
    }

    .sec1-text1 h3 {
        line-height: 50px;
    }

    .footer-icon1 {
        margin: 0 80px;
    }

    .subscribe {
        width: 90%;
        margin: 20px;
    }

    .sec5-bg {
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }

    .sec3-bg {
        width: 100%;
    }

    .sec3-main {
        width: 100%;
    }

    .sec5-main {
        width: 100%;
    }

    .sec5-text2 h2 {
        font-size: 1.8rem;
    }

    .sec4-text1 button {
        display: inline-block;
        margin: 30px 0;
    }

    .sec2-text3 {
        padding: 31px 35px;
    }
}