.bg {
    background: linear-gradient(#0000004f, #0000002d) !important;
}

.btn-bg {
    background-color: rgba(228, 165, 143, 0.475);
    border: none;
}

i[class*=" flaticon-"]:before {
    content: "";
    /* font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.fa-brands {
    font-size: 40px;
    color: #ec1616;
}

.size {
    width: 33% !important;
}

.rad {
    border-radius: 320px 320px 0px 0px;
    border: 1px solid #000;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.animation {
    transition: all 3s;

}

.animation:hover {
    padding-left: 40px !important;
}

.width img {
    aspect-ratio: 2/1;
    object-fit: contain;
    background-color: #f7f7f7;
}

.slick-slide {
    margin: 0px 10px !important;
}

.mr-date {
    width: 45% !important;
    right: 0px;
    top: 170px;
}

.carousel-indicators [data-bs-target] {
    background-color: gray !important;
}

.newsdate span {
    display: block;
    font-size: 60px;
    background: none;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    /* -webkit-text-stroke-color: transparent; */
}