.bg {
    background: linear-gradient(#0000004f, #0000002d) !important;
}

.btn-bg {
    background-color: rgba(228, 165, 143, 0.475);
    border: none;
}

i[class*=" flaticon-"]:before {
    content: "";
    /* font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.fa-brands {
    font-size: 40px;
    color: #ec1616;
}