* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 1px solid;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.aling {
    align-items: center;
}

.jsc {
    justify-content: center;
}

.header-bg1 {
    background-color: #19776b;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    color: gray;
}

.menu-1 ul li,
.menu-2 ul li {
    display: inline-block;
}

.menu-1 {
    margin: 30px 0;
    display: flex;
}

.header-bg2 {
    /* width: 100%; */
    margin: 100PX 0;
    /* height: 100PX; */
    background-color: #ffff;
}

.menu-2 {
    display: flex;
}

.menu-left1 i,
.menu-right1 i {
    color: #efa286;
    margin: 0 15px;
}

.menu-left1 a,
.menu-right1 a {
    color: #ffff;
}