* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid; */
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.pos-re {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.aling {
    align-items: center;
}

.jsc {
    justify-content: center;
}

.logo {
    right: 580px;
    height: 115px;
    width: 210px;
    text-align: center;
    background-color: #efa286;
    border-radius: 20px;
}

.logo img {
    margin: 30px 0;
}

.header-bg1 {
    background-color: #19776b;
}

ul li {
    display: inline-block;
}

.menu-left1 {
    margin-right: auto;
}

.menu-left1 i,
.menu-right1 i {
    color: #efa286;
    margin: 20PX;
    font-size: 30px;
}

.menu-left1 ul li,
.menu-right1 ul li {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.menu-left1 a,
.menu-right1 a {
    color: #ffff;
}

.header-bg2 {
    background-color: #ffff;
    padding: 15px;
}

.menu-left2 {
    margin-right: auto;
}

.menu-left2 ul li,
.menu-right2 ul li {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0 12px;
    font-weight: 400;
}

.menu-right2 i {
    padding: 0 20px;
}

.menu-left2 a {
    color: gray;
}

.menu-right2 input {
    padding: 30px 15px;
    background-color: #efa286;
    border-radius: 20px;
}

.home1 {
    /* display: none; */
    position: absolute;
    left: -250px;
    border: 2px solid;
    transition: all 1s;
    z-index: 100;
}

.header-style1 {
    display: none;
    position: absolute;
    left: 80px;
    width: 100%;
    border: 2px solid;
    z-index: 100;
}

.about1 {
    /* display: none; */
    position: absolute;
    left: -300px;
    border: 2px solid;
    z-index: 100;
    transition: all 2s;
}

.pages1 {
    /* display: none; */
    position: absolute;
    left: -350px;
    border: 2px solid;
    z-index: 100;
    transition: all 2s;
}

.home1:hover li,
.header-style1:hover li,
.about1:hover li,
.pages1:hover li {
    display: block;
}



.home .home1 li,
.about .about1 li,
.pages .pages1 li {
    display: block;
    padding: 15px 22px;
    background-color: #ffff;
    z-index: 100;
}

.home:hover .home1,
.header-style:hover .header-style1,
.about:hover .about1,
.pages:hover .pages1 {
    display: block;
    left: 50px;
    padding: 0;
}

.home1 li:hover,
.header-style1 li:hover,
.about1 li:hover,
.pages1 li:hover {
    background-color: #19776b;
}

.sec1-bg1 {
    background-image: url(./img/sec2-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.sec1-bg2 {
    background-image: url(./img/sec1-img.png);
    background-repeat: no-repeat;
    bottom: 0;
    top: -2px;
    left: -105px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.sec1-text {
    width: 50%;
    font-size: 70px;
    color: #ffff;
    margin: 0 auto;

}

.sec1-text button {
    padding: 25px 35px;
    background-color: #efa286;
    color: #ffff;
    border: none;
    font-size: 17px;
}

.col-25 {
    width: 22%;
    height: 430px;
    border: 1px solid;
    display: flex;
    align-items: end;
}

.Counse-boxs2 {
    margin: 0 21px;
}

.icon {
    width: 150px;
    height: 150px;
    border: 1px solid;
    top: -30px;
    left: -30px;
    background-color: #19776b;
}

.icon:hover .sec2-text1 {
    background-color: #19776b;

}

.sec2-text {
    margin: 0 auto;
    padding: 50px 0;
}

.sec2-text h3 {
    font-size: 20px;
    color: #efa286;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

.sec2-text h2 {
    width: 99%;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

.Counse-boxs1 {
    padding: 80px 0;
}

.sec2-text1 {
    padding: 30px 5px;
}

.sec2-text1 h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

.sec2-text1 p {
    font-size: 22px;
    line-height: 30px;
    padding: 20px 10px;
    text-align: justify;
    border-top: 1px solid;

}

.sec2-text1 a {
    font-size: 20px;
    padding: 10px;
    color: gray;
}

.one-count {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    /* counter-increment: count; */
    /* content: "0" counter(count); */
    color: transparent;
    -webkit-text-stroke: 1px gray;
    opacity: .60;
    /* transition: all 200ms linear; */
    /* transition-delay: 0.1 */
}

.two-count {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    /* counter-increment: count; */
    /* content: "0" counter(count); */
    color: transparent;
    -webkit-text-stroke: 1px gray;
    opacity: .60;
    /* transition: all 200ms linear; */
    transition-delay: 0.1
}

.three-count {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    /* counter-increment: count; */
    /* content: "0" counter(count); */
    color: transparent;
    -webkit-text-stroke: 1px gray;
    opacity: .60;
    /* transition: all 200ms linear; */
    /* transition-delay: 0.1 */
}

.four-count {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    /* counter-increment: count; */
    /* content: "0" counter(count); */
    color: transparent;
    -webkit-text-stroke: 1px gray;
    opacity: .60;
    /* transition: all 200ms linear; */
    /* transition-delay: 0.1 */
}

.Counse-boxs3 {
    margin: 80px 21px;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-20 {
    width: 20%;
}

.sec3-about-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: transparent;
    -webkit-text-stroke: 1px blue;
    transform: rotate(-90deg);
    opacity: .18;
}

.sec3-img {
    border-left: 30PX solid;
    border-color: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

img {
    width: 100%;
}