@media (min-width: 320px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }

    .header-text {
        padding: 20px;
    }

    .header-text h2 {
        font-size: 1rem;
    }

    .header-text p {
        font-size: 1rem;

    }

    .header-text button {
        font-size: 0.5rem
    }

    .menu a {
        font-size: 0.6rem;
    }

    .menu-right {
        display: flex;
    }

    .menu-right ul li {
        padding: 15px 0;
    }

    .col-40 {
        width: 100%;
    }

    .sec1-text1 {
        margin: 50px 0;
    }

    .sec1-text1 h2 {
        font-size: 1.2rem;
    }

    .sec1-text1 p {
        font-size: 1rem;
    }

    .col-25 {
        width: 88%;
    }

    #page {
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box6"
            "box5"
            "box7"
            "box8"
            "box9"
            "box10"
            "box11"
            "box12";
        grid-template-rows: auto;
        grid-template-columns: 300px;
    }

    .sec3-bg {
        padding: 20px 0;
    }

    .sec4-bg {
        padding: 0;
    }

    .discover-box1 {
        padding: 0;
    }

    .sec5-text1 h2 {
        font-size: 2.5rem;
    }

    .sec5-text1 p {
        font-size: 1.8rem;
        margin: 0;
    }

    .col-50 {
        width: 100%;
    }

    .col-60 {
        width: 100%;
    }

    .sec5-text3 h2 {
        font-size: 1.3rem;
    }

    .sec5-text3 span {
        font-size: 1rem;
    }

    .sec5-text3 p {
        font-size: 1rem;
        text-align: justify;
    }

    .sec7-text1 h2 {
        font-size: 2.3rem;
    }

    .sec9-text1 h2 {
        font-size: 1.9rem;
    }

    .sec9-text1 p {
        font-size: 1.7rem;
    }

    .col-28 {
        width: 100%;
    }

    .sec9-text2 h2 {
        font-size: 1.4rem;
    }

    .sec9-box {
        padding: 0;
    }

    .col-15 {
        width: 30%;
    }

    .sec11-text1 {
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1380px;
        margin: 0 auto;
    }

    .header-text h2 {
        font-size: 5.6rem;
    }

    .header-text p {
        font-size: 4.3rem;
    }

    .header-text button {
        font-size: 1.9rem;
    }

    .menu a {
        font-size: 1.8rem;
    }

    .menu-right ul li {
        padding: 15px;
    }

    .col-40 {
        width: 40%;
    }

    .sec1-text1 {
        margin: 40px 15px;
    }

    .sec1-text1 h2 {
        font-size: 2rem;
    }

    .sec1-text1 p {
        font-size: 1rem;
    }

    .col-25 {
        width: 25%;
    }

    #page {
        grid-template-areas:
            "box1 box2 box3 box4"
            "box5 box6 box7 box8"
            "box9 box10 box11 box12";
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px 250px;
    }

    .sec4-bg {
        padding: 50px;
    }


    .discover-box1 {
        padding: 50px 0;
    }

    .sec5-text1 h2 {
        font-size: 4.3rem;
    }

    .sec5-text1 p {
        font-size: 3.7rem;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 70%;
    }

    .sec5-text3 h2 {
        font-size: 2rem;
    }

    .sec5-text3 span {
        font-size: 1.2rem;
    }

    .sec5-text3 p {
        font-size: 1.2rem;
    }

    .sec7-text1 h2 {
        font-size: 4.3rem;
    }

    .sec9-text1 h2 {
        font-size: 3.8rem;
    }

    .sec9-box {
        padding: 0 15px;
    }

    .sec9-text1 p {
        font-size: 3.7rem;
    }

    .col-28 {
        width: 28%;
    }

    .col-15 {
        width: 15%;
    }


    .sec11-text1 {
        width: 70%;
        padding: 10px 0;
    }

}