* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    transition: 0.5s;
    /* background: #333; */
}

.card:hover {
    height: 300px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 100px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 3s linear infinite;
}


@keyframes animate {
    0% {
        transform: translate(-50px, -50px) rotate(0deg);
    }

    100% {
        transform: translate(-50px, -50px) rotate(360deg)
    }
}

.card .lines::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;

}

.card .imbx {
    position: absolute;
    z-index: 10;
    right: 50px;
    left: 100px;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    overflow: hidden;
}

.card:hover .imbx {
    width: 250px;
    height: 250px;
    left: 50px;
}

.card .imbx::before {
    content: "";
    position: absolute;
    top: 20px;
    width: 500px;
    height: 150px;
    transform: translateY(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 3s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translate(-50px, -50px) rotate(360deg);
    }

    100% {
        transform: translate(-50px, -50px) rotate(0deg)
    }
}

.card .imbx::after {
    content: "";
    position: absolute;
    background: #292929;
    inset: 3px;

}

.card .imbx img {
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: 140px;
    height: 140px;
    filter: grayscale(1);

}

img {
    width: 100%;
}

.card:hover .imbx img {
    width: 240px;
    height: 240px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3c7b;
    animation: shraddha 3s infinite;
    font-size: 25px;
    text-shadow: 10px 0px 20px #ff3c7b;
}

.details {
    text-align: center;
}

.details i {
    color: #ff3c7b;
    animation: shraddha 3s infinite;
}

@keyframes shraddha {

    To {
        transform: scale(.7);
        color: #ff3c7b;
        text-shadow: 10px 0px 20px rgba(238, 144, 216, 0.459);
    }

    from {
        transform: scale(.9);
        color: rgba(144, 238, 144, 0.409);
        text-shadow: 10px 0px 20px rgba(144, 238, 144, 0.409);

    }

}