/* <---home---> */


.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.sticky ul a {
  color: #000;
}

/* <---Header---> */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
  text-decoration: none;

}

@font-face {
  src: url(../font/static/Inconsolata-Medium.ttf);
  font-family: "Inconsolata";
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.home-bg {
  background: linear-gradient(#0000005d, #00000061), url(../image/photo-removebg-preview.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.pos-rel {
  position: relative;
}

.pos-ap {
  position: absolute;
}

.jsc {
  justify-content: center;
}

.align {
  align-items: center;
}

.home-text1 ul li {
  display: inline-block;
  padding: 19px;
  font-size: 25px;
  font-weight: 500;
}

.home-text1 a {
  color: #ffff;
}

.home-text2 {
  color: #ffff;
  text-align: center;
  margin: 60px;
  padding: 60px;
}

.home-text2 h2 {
  margin: 10px 0;
  padding: 30px;
  font-size: 100px;
  position: relative;
  overflow: hidden;
}

.home-text2 h3 {
  margin: 10px 0;
  font-size: 100px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.home-text2 span {
  color: #862242;
}

.home-text2 h2::before,
.home-text2 h3::before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 0%;
  left: 0;
  transition: all 2s;
  animation: shaddha 5s ease-in;
}

@keyframes shaddha {
  0% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0%;
    left: 100%;

  }
}

.home-text2 h2::after,
.home-text2 h3::after {
  content: "";
  position: absolute;
  background-color: #862242;
  height: 100%;
  width: 0%;
  transition: all 2s;
  animation: shaddha1 5s ease-in;
}


@keyframes shaddha1 {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 100%;
    left: 100%;
  }
}


/* <---Sec1---> */
.sec_1 {
  background: linear-gradient(#00000098, #000000aa), url(../image/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  position: relative;
  width: 390px;
  height: 250px;
  transition: 0.5s;
  margin: 100px;
}

.card:hover {
  height: 340px;
}

.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 100px;
  background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
  animation: animate 3s linear infinite;
}


@keyframes animate {
  0% {
    transform: translate(-50px, -50px) rotate(0deg);
  }

  100% {
    transform: translate(-50px, -50px) rotate(360deg)
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #131212;

}

.card .imbx {
  position: absolute;
  z-index: 10;
  right: 50px;
  overflow: hidden;
  left: 100px;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  background: #000;
  transition: 0.5s;
  overflow: hidden;
}

.card:hover .imbx {
  width: 270px;
  height: 270px;
  left: 50px;
}

.card .imbx::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 500px;
  height: 150px;
  transform: translateY(-50%, -50%);
  background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
  animation: animate2 3s linear infinite;

}

@keyframes animate2 {
  0% {
    transform: translate(-50px, -50px) rotate(360deg);
  }

  100% {
    transform: translate(-50px, -50px) rotate(0deg)
  }
}

.card .imbx::after {
  content: "";
  position: absolute;
  background: #292929;
  inset: 3px;

}

.card .imbx img {
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  width: 190px;
  height: 190px;
  filter: grayscale(1);
}

img {
  width: 100%;
}

.card:hover .imbx img {
  width: 265px;
  height: 265px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #862242;
  animation: card 3s infinite;
  font-size: 25px;
  text-shadow: 10px 0px 20px #862242;
}

.details {
  text-align: center;
}

.details i {
  color: #862242;
  animation: card 3s infinite;
}

@keyframes card {

  To {
    transform: scale(.9);
    color: #862242;
    text-shadow: 10px 0px 20px rgba(238, 144, 216, 0.459);
  }

  from {
    transform: scale(.8);
    color: #45f3ff;
    text-shadow: 10px 0px 20px rgba(144, 238, 144, 0.409);

  }

}

.col-50 {
  width: 50%;
}

.sec_1-text1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff73;
  opacity: .6;
  margin: 70px 0;
}

.sec_1-text2 {
  color: #ffff;
  margin: 50px 0;
  padding: 50px 0;
}

.sec_1-text2 h2 {
  font-size: 60px;
}

.sec_1-text2 p {
  padding: 10px 0;
  font-size: 28px;
}

.card_1 {
  width: 50%;
  position: relative;
  height: 500px;
  overflow: hidden;
}


.card_1::before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 80%;
  width: 0%;
  left: 0;
  transition: all 2s;
  animation: shaddha3 5s ease-in;
  z-index: 100;

}

@keyframes shaddha3 {
  0% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0%;
    left: 90%;

  }
}

.card_1::after {
  content: "";
  position: absolute;
  background-color: #862242;
  height: 70%;
  width: 0%;
  top: 0;

  transition: all 2s;
  animation: shaddha4 5s ease-in;
  z-index: 101;
}


@keyframes shaddha4 {
  0% {
    width: 0%;
    left: 0;
  }


  50% {
    width: 80%;
    left: 0%;
  }

  100% {
    max-width: 100%;
    left: 80%;

  }
}

.sec_1-text2 h2 {
  position: relative;
  color: transparent;
  font-weight: 100;
  -webkit-text-stroke: 1px #fff;
}

.sec_1-text2 h2::before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 0%;
  left: 0;
  background-clip: text;
  animation: shaddha5 5s ease-in;
  -webkit-background-clip: 1px #000;
}

@keyframes shaddha5 {
  0% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0%;
    left: 100%;

  }
}