* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: serif;
    list-style: none;
    /* border: 1px solid; */
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.row {
    display: flex;
}

.jsc {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.logo img {
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.header_2 {
    background-color: #f2141d;
    padding: 10px;
}

.logo img {
    width: 80%;
}

.logo_text ul li {
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}

.logo_last ul li {
    width: 40%;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}

.logo_last ul li i {
    padding: 5px;
}

.last {
    color: red;
    font-size: 19px;
    margin: 0 20px;
}

.logo_text ul li a {
    color: #ffffff
}

.logo_text ul li i {
    color: #ffffff;
    padding: 0px 5px;
}

.sec-2 {
    background-image: url(img1.png);
    background-size: cover;
    height: 550px;
    width: 100%;
    background-position: center;

}

.sec2-bg {
    background-color: #0000009c;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2-text p {
    width: 40%;
    margin: 0 auto;
}

h2 {
    margin: 20px auto;
    font-size: 30px;
}

.sec2-text P {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Poppins";
    text-align: center;
    padding: 50px;
}

.col-30 {
    margin: 0 auto;
    width: 30%;
}

.sec-3img img {
    width: 100%;
}

.sec-3img p {
    position: absolute;
    /* top: 0; */
    right: 10px;
    bottom: 20px;
    opacity: 0.902;
    width: 230px;
    padding: 20px 0;
    text-align: center;
    /* height: 30px; */
    background-color: #000000;
    clip-path: polygon(9% 6%, 100% 8%, 101% 100%, 0% 100%);

    color: #ffff;
}

.col-50 {
    width: 50%;
}

.sec4-text {
    margin: 30px;
    padding: 30px;
}

.sec4-img img {
    width: 95%;
    padding: 23px;
}

button {
    margin-top: 20px;
    color: #ffffff;
    background-color: #f2141d;
    padding: 7px 15px;
    border: none;
}

.col-15 {
    width: 15%;

}

.sec5-img img {
    width: 100%;
}

.sec-6 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.856), rgba(4, 9, 30, 0.847)), url(./img6-1.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-6img img {
    width: 100%;
}

.sec6-text {
    color: #ffffff;
    padding: 0px 20px;
    align-items: center;
}

.sec6-from {
    text-align: center;
}

.sec6-from input {
    padding: 5px 40px;
    margin: 5px 0px;
}

.sec6-from {
    text-align: center;
}

.btn input {
    text-align: center;
    background-color: #f2141d;
    border: none;
    color: #ffffff;
}

.foot_list {
    margin: 20px 0px;
    font-size: 15px;

}

.foot_list img {
    width: 70%;
}


.foot_list p {
    margin: 10px 0px;
    font-weight: 1000;
    font-size: larger;

}

.foot_list ul i {
    font-size: 12px;
    padding: 6px;
}

.foot_text1 ul li {
    padding: 8px;
    font-weight: 900;
    font-size: 20px;
}


.foot_text1 ul li i {
    padding: 0px 10px;
    color: #f2141d;
    font-size: 20px;
}

.foot_text2 ul li {
    padding: 8px 0px;
    font-weight: 900;
    /* margin-left: 10px; */
}

.foot_text3 ul li {
    padding: 3px 0px;
}

.foot_bol {
    font-weight: 900;
    font-size: 16px;
}

.foot_text4 {
    margin-top: 50px;
}

.col_20 {
    width: 20%;
}

.col_25 {
    width: 25%;
}

.col_10 {
    width: 10%;
}