* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: serif;
    list-style: none;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.main1 {
    height: 100px;
    background-color: #ffffff;
}

.row {
    display: flex;
}

.tel {
    margin-left: auto;
}

.jsc {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.logo img {
    width: 100%;
    margin-top: 10px;
}

/* .sec1-list1 ul {
    display: flex;
    font-weight: bold;
    font-size: 20px;
} */

/* .sec1-list1 ul li {
    padding: 10px;
}

.ind {
    width: 40%;
}

.sec1-list2 p i {
    margin: 10px;
}

.sec1-list2 {
    font-weight: bolder;
} */
/* 
.sec1-list2 a {
    color: #f2141d;
    font-size: 20px;

} */

/* .main2 {
    height: 50px;
    background-color: #f2141d;
}

.sec2-list1 ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sec2-list1 ul a {
    color: #ffffff;
}

.sec2-list1 ul i {
    color: #ffffff;
} */

.sec2-bgimg {
    background-image: url(img1.png);
    background-size: cover;
    height: 550px;
    width: 100%;
    background-position: center;

}

.sec2-bg {
    background-color: #0000009c;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2-text p {
    width: 40%;
    margin: 0 auto;
}

.sec2-text P {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Poppins";
    text-align: center;
    padding: 50px;
}

.col-30 {
    margin: 0 auto;
    width: 30%;
}

.sec-3img img {
    width: 100%;
}

.sec-3img p {
    position: absolute;
    /* top: 0; */
    right: 10px;

    bottom: 20px;
    opacity: 0.902;
    width: 230px;
    padding: 20px 0;
    text-align: center;
    /* height: 30px; */
    background-color: #000000;
    clip-path: polygon(9% 6%, 100% 8%, 101% 100%, 0% 100%);

    color: #ffff;
}

.col-50 {
    width: 50%;
}

/* .col-50 {
    display: flex;
    justify-content: center;
} */
/* .sec4-text {
    width: 45%;
    text-align: left;
    margin: 30px 10px 0px 20px;
    padding: 10px;
}

.sec4-img img {
    width: 500px;
}

.sec4-text1 {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 0;
}

.sec4-text2 {
    font-size: 15px;
    /* padding: 10px 0px 10px 10px; */


/* .sec4-text button {
    padding: 5px 0px; 
    color: whitesmoke;
    background-color: #f2141d;
    border: 1px solid #f2141d;
} */
.sec4-img img {
    width: 100%;
    display: block;
}


/* ----------- */
.container_2 {
    width: 1180px;
    margin: 0 auto;
}

.logo img {
    width: 80%;
}

.logo_text ul li {
    display: inline-block;
    padding: 0 10px;
}

.logo_last ul li {
    width: 40%;
    display: inline-block;
    padding: 0 5px;
}

.last {
    color: red;
    font-size: 19px;
    margin: 0 20px;
}

.main {
    width: 100%;
    height: 30px;
    background-color: #f2141d;
}

.logo_text ul li a {
    color: #ffffff
}