@media (min-width: 320px) {
    .container {
        width: 300px;
    }

    header {
        display: none;
    }

    html {
        font-size: 50%;
        align-items: center;
    }

    .col-50 {
        width: 100%;
    }

    .col-75 {
        width: 100%;
    }

    .col-15 {
        width: 87%;
    }

    .col-22 {
        width: 100%;
    }

    .col-70 {
        width: 98%;
    }

    .col-20 {
        width: 15%;
    }

    .col-45 {
        width: 99%;
    }

    .col-55 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .col-60 {
        width: 100%;
    }

    .col-30 {
        width: 100%;
    }

    .col-28 {
        width: 100%;
    }

    .col-25 {
        width: 100%;
    }

    .sec1-bg1 {
        height: 53rem;
    }

    .sec4-border {
        display: none;
    }

    .sec3-icon2 {
        margin: 10px 0;
    }

    .sec1-text button {
        padding: 9px 35px;
    }

    .sec1-bg2 {
        background-size: 93% 102%;
    }

    .sec1-text {
        width: 100%;
        font-size: 29px;
    }

    .sec2-text h2 {
        width: 100%;
        font-size: 48px;
    }

    .sec3-online-text h2 {
        font-size: 39px;
    }

    .sec3-online-text p {
        font-size: 23px;
    }

    .Counse-boxs1 {
        padding: 38px 0;
    }

    .sec3-aboutcompany-text p {
        font-size: 21px;
    }

    .ma {
        top: 0px;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: none;
    }

    .sec3-textyears {
        width: 141px;
        height: 143px;
        bottom: -55px;
        right: 9px;
        padding: 8px 35px;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, .70);
    }

    .sec3-icon1 {
        width: 98px;
        height: 100px;
        top: -39px;
        left: -36px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 21px;
        letter-spacing: 5px;
        font-weight: 500;
        margin-top: 89px;
    }

    .sec3-aboutcompany-text {
        padding: 0px 23px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 27px;
        padding: 19px 0;
        text-align: initial;
    }

    .sec3-text {
        text-align: initial;
        margin: 10px;
    }

    .sec5-text h2 {
        font-size: 48px;
        font-weight: lighter;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec4-img {
        margin: 0px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 35px;
        padding: 0px;
    }

    .sec4-border {
        height: 238px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .sec6-img {
        display: none;
    }

    .sec6-icon {
        width: 82px;
        height: 83px;
        top: 10px;
        left: 189px;
    }

    .sec3-textyears {
        display: none;
    }

    .sec3-img {
        left: 18px;
    }

    .sec6-text {
        display: block;
        text-align: center;
    }

    .sec6-text h2 {
        width: 100%;
        margin: 0px;
        margin-top: 100px;
    }

    .sec6-text button {
        padding: 20px 0;
    }

    .sec7-text1 {
        padding: 20px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-img1 {
        margin: 20px;
    }

    .sec8 .col-20 {
        width: 48%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 112px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 10px 0px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 43px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 123px;
    }

    .sec11-ma .col-45 {
        width: 100%;
    }

    .sec11-box2 {
        margin: 20px;
    }

    .sec12-box1 {
        margin: 85px 38px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .footer-bg .col-20 {
        width: 100%;
    }

    .footer-bg .col-30 {
        width: 16%;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }
}




@media (min-width: 576px) {
    .container {
        width: 540px;
    }

    header {
        display: none;
    }

    html {
        font-size: 50%;
        align-items: center;
    }

    .col-50 {
        width: 100%;
    }

    .col-75 {
        width: 100%;
    }

    .col-15 {
        width: 24%;
    }

    .col-22 {
        width: 100%;
    }

    .col-70 {
        width: 70%;
    }

    .col-20 {
        width: 15%;
    }

    .col-45 {
        width: 48%;
    }

    .col-55 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .col-60 {
        width: 90%;
    }

    .col-30 {
        width: 30%;
    }

    .col-28 {
        width: 80%;
    }

    .col-25 {
        width: 100%;
    }

    .sec1-text {
        width: 63%;
        font-size: 34px;
    }

    .ma {
        top: 0px;
    }

    .Counse-boxs1 .col-22 {
        width: 68%;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: none;
    }

    .sec3-textyears {
        width: 141px;
        height: 143px;
        bottom: -55px;
        right: 9px;
        padding: 8px 35px;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, .70);
    }

    .sec3-icon1 {
        width: 98px;
        height: 100px;
        top: -39px;
        left: -36px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 28px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 10px 0;
    }

    .sec3-aboutcompany-text {
        padding: 0px 23px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 51px;
        padding: 37px 0;
        text-align: center;
    }

    .sec3-text {
        text-align: center;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec4-img {
        margin: 0px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 27px;
        padding: 0px;
    }

    .sec4-border {
        height: 238px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .sec6-img {
        display: none;
    }

    .sec6-icon {
        width: 82px;
        height: 83px;
        top: 10px;
        left: 290px;
    }

    .sec6-text {
        display: block;
        text-align: center;
    }

    .sec6-text h2 {
        width: 100%;
        margin: 0px;
        margin-top: 100px;
    }

    .sec6-text button {
        padding: 20px 0;
    }

    .sec7-text1 {
        padding: 20px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-img1 {
        margin: 20px;
    }

    .sec8 .col-20 {
        width: 48%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 112px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 10px 0px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 43px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 123px;
    }

    .sec11-ma .col-45 {
        width: 100%;
    }

    .sec11-box2 {
        margin: 20px;
    }

    .sec12-box1 {
        margin: 85px 38px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .footer-bg .col-20 {
        width: 100%;
    }

    .footer-bg .col-30 {
        width: 16%;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    header {
        display: none;
    }

    html {
        font-size: 55%;
        align-items: center;
    }

    .col-50 {
        width: 100%;
    }

    .col-75 {
        width: 100%;
    }

    .col-15 {
        width: 24%;
    }

    .col-22 {
        width: 47%;
    }

    .col-70 {
        width: 70%;
    }

    .col-20 {
        width: 20%;
    }

    .col-45 {
        width: 45%;
    }

    .col-55 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .col-60 {
        width: 87%;
    }

    .col-30 {
        width: 30%;
    }

    .col-28 {
        width: 50%;
    }

    .col-25 {
        width: 44%;
    }

    .sec1-text {
        width: 63%;
        font-size: 45px;
    }

    .ma {
        top: 0px;
    }

    .Counse-boxs1 .col-22 {
        width: 44%;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: none;
    }

    .sec3-textyears {
        width: 141px;
        height: 142px;
        bottom: -51px;
        right: 2px;
        padding: 8px 35px;
        box-shadow: 0 0 0 20px rgb(205 205 195);
    }

    .sec3-icon1 {
        width: 98px;
        height: 100px;
        top: -39px;
        left: -36px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 28px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 10px 0;
    }

    .sec3-aboutcompany-text {
        padding: 0px 23px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 51px;
        padding: 37px 0;
        text-align: center;
    }

    .sec3-text {
        text-align: center;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec4-img {
        margin: 0px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 27px;
        padding: 0px;
    }

    .sec4-border {
        height: 238px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .sec6-img {
        display: none;
    }

    .sec6-icon {
        width: 92px;
        height: 94px;
        top: 64px;
        left: 19px;
        padding: 14px;
    }

    .sec6-text {
        display: flex;
        text-align: center;
    }

    .sec6-text h2 {
        width: 177%;
        margin: 0px 60px;
        margin-top: 0px;
        font-size: 37px;
    }

    .sec6-text button {
        padding: 20px 0;
        width: 349px;
        height: 60px;
    }

    .sec7-text1 {
        padding: 40px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .sec7-text2 .col-50 {
        width: 50%;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-img1 {
        margin: 20px 40px;
    }

    .sec7-text7 {
        margin: 30px 0px;
    }

    .sec8 .col-20 {
        width: 48%;
    }

    .sec7-bg2 .col-60 {
        width: 60%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 155px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 10px 0px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 43px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 123px;
    }

    .sec11-ma .col-45 {
        width: 100%;
    }

    .sec11-box2 {
        margin: 20px;
    }

    .sec12-text2 h2 {
        font-size: 23px;
    }

    .sec12-box1 {
        margin: 85px 38px;
        padding: 4px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .footer-bg .col-20 {
        width: 49%;
    }

    .footer-bg .col-30 {
        width: 21%;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }

    .footer-text3 h2 {
        font-size: 29px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    header {
        display: none;
    }

    html {
        font-size: 55%;
        align-items: center;
    }

    .col-50 {
        width: 100%;
    }

    .col-75 {
        width: 100%;
    }

    .col-15 {
        width: 24%;
    }

    .col-22 {
        width: 47%;
    }

    .col-70 {
        width: 70%;
    }

    .col-20 {
        width: 20%;
    }

    .col-45 {
        width: 45%;
    }

    .col-55 {
        width: 55%;
    }

    .col-40 {
        width: 100%;
    }

    .col-60 {
        width: 87%;
    }

    .col-30 {
        width: 30%;
    }

    .col-28 {
        width: 33%;
    }

    .col-25 {
        width: 29%;
    }

    .sec1-bg1 {
        height: 51rem;
    }

    .sec1-bg2 {
        background-size: 84% 100%;
    }

    .sec1-text {
        width: 63%;
        font-size: 60px;
    }

    .ma {
        top: 0px;
    }

    .Counse-boxs1 .col-22 {
        width: 44%;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: none;
    }

    .sec3 {
        margin: 100px;
    }

    .sec3-textyears {
        width: 207px;
        height: 192px;
        bottom: -65px;
        right: -52px;
        padding: 33px 35px;
        box-shadow: 0 0 0 20px rgb(205 205 195);
    }

    .sec3-icon1 {
        width: 113px;
        height: 109px;
        top: -38px;
        left: -62px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 28px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 10px 0;
    }

    .sec3-aboutcompany-text {
        padding: 0px 23px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 51px;
        padding: 37px 0;
        text-align: center;
    }

    .sec3-text {
        text-align: center;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec4-img {
        margin: 0px 16px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 27px;
        padding: 0px;
    }

    .sec4-border {
        height: 161px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    /* .sec6-img {
        display: ;
    } */

    .sec6-icon {
        width: 92px;
        height: 94px;
        top: 64px;
        left: 19px;
        padding: 14px;
    }

    .sec6-text {
        display: flex;
        text-align: center;
    }

    .sec6-text h2 {
        width: 177%;
        margin: 0px 60px;
        margin-top: 0px;
        font-size: 37px;
    }

    .sec6-text button {
        padding: 20px 0;
        width: 704px;
        height: 60px;
    }

    .sec7-main {
        margin: 0px 100px;
    }

    .sec7-main {
        margin: 0px 100px;
    }

    /* .sec7-text2{
        margin: 0px 100px;
    } */

    .sec7-text1 {
        padding: 40px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .sec7-text2 .col-50 {
        width: 50%;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-img1 {
        margin: 20px 40px;
    }

    .sec7-text7 {
        margin: 30px 0px;
    }

    .sec8 .col-20 {
        width: 48%;
    }

    .sec7-bg2 .col-60 {
        width: 87%;
    }

    .sec7 .col-60 {
        width: 70%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 214px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 10px 0px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 43px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 123px;
    }

    .sec11-ma {
        margin: 80px 100px;
    }

    .sec11-ma .col-45 {
        width: 100%;
    }

    .sec11-box2 {
        margin: 40px 0px;
    }

    .sec12-imgbox {
        margin: 10px;
    }

    .sec12-text2 h2 {
        font-size: 23px;
    }

    .sec12-box1 {
        margin: 48px 38px;
        padding: 4px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .sec12-text2 p {
        font-size: 20px;
    }

    .sec12-text2 h2 {
        font-size: 20px;
    }

    .footer-bg .col-20 {
        width: 49%;
    }

    .footer-bg .col-30 {
        width: 17%;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }

    .footer-text3 h2 {
        font-size: 29px;
    }


}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    header {
        display: none;
    }

    html {
        font-size: 60%;
        /* align-items: center; */
    }

    .col-50 {
        width: 50%;
    }

    .col-75 {
        width: 80%;
    }

    .col-15 {
        width: 24%;
    }

    .col-22 {
        width: 23%;
    }

    .col-70 {
        width: 70%;
    }

    .col-20 {
        width: 20%;
    }

    .col-45 {
        width: 45%;
    }

    .col-55 {
        width: 55%;
    }

    .col-40 {
        width: 40%;
    }

    .col-60 {
        width: 60%;
    }

    .col-30 {
        width: 30%;
    }

    .col-28 {
        width: 28%;
    }

    .col-25 {
        width: 29%;
    }

    .sec1-bg1 {
        height: 51rem;
    }

    .sec1-bg2 {
        background-size: 70% 100%;
    }

    .sec1-text {
        width: 60%;
        font-size: 68px;
    }

    .ma {
        top: 80px;
    }

    .Counse-boxs1 .col-22 {
        width: 24%;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: block;
    }

    .sec3 {
        margin: 0 50px;
    }

    .sec3-about-text {
        left: -10px;
        top: 33px;
        font-size: 68px;
    }

    .sec3-textyears {
        width: 155px;
        height: 144px;
        bottom: -65px;
        right: -52px;
        padding: 2px 35px;
        box-shadow: 0 0 0 30px rgba(213, 204, 204, 0.7);
    }

    .sec3-icon1 {
        width: 113px;
        height: 109px;
        top: -38px;
        left: -62px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 28px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 10px 0;
    }

    .sec3-aboutcompany-text {
        padding: 0px 23px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 49px;
        padding: 0px 0;
        text-align: inherit;
    }

    .sec3-aboutcompany-text p {
        font-size: 24px;
    }

    .sec3-text {
        text-align: center;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec3-icon2 {
        width: 85px;
        height: 85px;
    }

    .sec4-img {
        margin: 0px 16px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 36px;
        padding: 0px;
    }

    .sec4-border {
        height: 161px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .sec6-img {
        display: block;
    }

    .sec6-icon {
        width: 92px;
        height: 94px;
        top: 64px;
        left: -33px;
        padding: 7px;
    }

    .sec6-box1 {
        height: 215px;
    }

    .sec6-text {
        display: flex;
        text-align: center;
    }

    .sec6-text h2 {
        width: 177%;
        margin: 0px 60px;
        margin-top: 0px;
        font-size: 37px;
    }

    .sec6-text button {
        padding: 20px 0;
        width: 704px;
        height: 60px;
    }

    .sec7-main {
        margin: 0px 100px;
    }

    .sec7-main {
        margin: 0px 0px;
    }

    /* .sec7-text2{
        margin: 0px 100px;
    } */
    .sec7-main .col-50 {
        width: 57%;
    }

    .sec7-text1 {
        padding: 0px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .sec7-text2 .col-50 {
        width: 50%;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-icon2 {
        top: 28px;
        right: -23px;
        padding: 5px;
    }

    .sec7-box {
        padding: 0px 0;
    }

    .sec7-img1 {
        margin: 20px 10px;
    }

    .sec7-text7 p {
        padding: 20px 13px;
    }

    .sec7-text7 {
        margin: 30px 0px;
    }

    .sec8 .col-20 {
        width: 24%;
    }

    .sec7-bg2 .col-60 {
        width: 83%;
    }

    .sec7 .col-60 {
        width: 70%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 120px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 10px 0px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 43px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 108px;
    }

    .sec11-ma {
        margin: 80px 0;
    }

    .sec11-ma .col-45 {
        width: 55%;
    }

    .sec11-box2 {
        margin: 50px 0
    }

    .sec11-ma .col-50 {
        width: 40%;
    }

    .sec12-imgbox {
        margin: 10px;
    }

    .sec12-text2 h2 {
        font-size: 23px;
    }

    .sec12-box1 {
        margin: 48px 38px;
        padding: 4px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .sec12-text2 p {
        font-size: 20px;
    }

    .sec12-text2 h2 {
        font-size: 25px;
    }

    .footer-bg .col-20 {
        width: 24%;
    }

    .footer-bg .col-30 {
        width: 33%;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }

    .footer-text3 h2 {
        font-size: 29px;
    }

}

@media (min-width: 1400px) {
    .container {
        width: 1380px;
    }

    header {
        display: none;
    }

    html {
        font-size: 60%;
        /* align-items: center; */
    }

    .col-50 {
        width: 50%;
    }

    .col-75 {
        width: 78%;
    }

    .col-15 {
        width: 15%;
    }

    .col-22 {
        width: 23%;
    }

    .col-70 {
        width: 46%;
    }

    .col-20 {
        width: 20%;
    }

    .col-45 {
        width: 45%;
    }

    .col-55 {
        width: 55%;
    }

    .col-40 {
        width: 40%;
    }

    .col-60 {
        width: 60%;
    }

    .col-30 {
        width: 30%;
    }

    .col-28 {
        width: 28%;
    }

    .col-25 {
        width: 29%;
    }

    .sec1-bg1 {
        height: 55rem;
    }

    .sec1-bg2 {
        background-size: 65% 100%;
    }

    .sec1-text {
        width: 60%;
        font-size: 82px;
    }

    .ma {
        top: 80px;
    }

    .Counse-boxs1 .col-22 {
        width: 24%;
    }

    .Counse-boxs2 {
        margin: 30px auto;
    }

    .sec3-about-text {
        display: block;
    }

    .sec3 {
        margin: 0 50px;
    }

    .sec3-about-text {
        left: 75px;
        top: 65px;
        font-size: 63px;
    }

    .sec3-textyears {
        width: 155px;
        height: 144px;
        bottom: -65px;
        right: -52px;
        padding: 2px 35px;
        box-shadow: 0 0 0 30px rgba(213, 204, 204, 0.7);
    }

    .sec3 {
        margin: 100px 0;
    }

    .sec3-icon1 {
        width: 113px;
        height: 109px;
        top: -38px;
        left: -62px;
    }

    .sec3-aboutcompany-text h3 {
        font-size: 28px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 10px 0;
    }

    .sec3-aboutcompany-text {
        padding-left: 150px;
    }

    .sec3-aboutcompany-text h2 {
        font-size: 49px;
        padding: 0px 0;
        text-align: inherit;
    }

    .sec3-aboutcompany-text p {
        font-size: 24px;
    }

    .sec3-text {
        text-align: center;
    }

    .sec3-text button {
        margin: 40px 0;
    }

    .sec3-icon2 {
        width: 85px;
        height: 85px;
    }

    .ma_left {
        margin-left: 140px;
    }

    .sec4-img {
        margin: 0px 16px;
    }

    .sec4-text1 p {
        padding: 0px;
    }

    .sec4-text1 h2 {
        font-size: 36px;
        padding: 0px;
    }

    .sec4-border {
        height: 161px;
        top: 55px;
    }

    .sec4-text1 {
        padding: 20px 0;
    }

    .sec5-boxs1 {
        margin: 0px 0;
        padding: 14px 0;
    }

    .sec5-text {
        padding: 22px 0;
    }

    .sec5-text1 h2 {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .sec6-img {
        display: block;
    }

    .sec6-icon {
        width: 92px;
        height: 94px;
        top: 64px;
        left: -33px;
        padding: 7px;
    }

    .sec6-box1 {
        height: 272px;
    }

    .sec6-text {
        display: flex;
        text-align: center;
    }

    .sec6-text h2 {
        width: 177%;
        margin: 0px 60px;
        margin-top: 0px;
        font-size: 37px;
    }

    .sec6-text button {
        padding: 20px 0;
        width: 704px;
        height: 60px;
    }

    .sec7-main {
        margin: 0px 0px;

    }

    /* .sec7-text2{
        margin: 0px 100px;
    } */
    .sec7-main .col-50 {
        width: 50%;
    }

    .sec7-text1 {
        padding: 0px;
    }

    .sec7-text4 button {
        margin: 0 15px;
    }

    .sec7-tex5 {
        padding: 0px;
    }

    .sec7-text2 .col-50 {
        width: 50%;
    }

    .pa {
        padding: 10px 20px;
    }

    .sec7-icon2 {
        top: 36px;
        right: -28px;
        padding: 13px;
    }

    .sec7-box {
        padding: 0px 0;
    }

    .sec7-img1 {
        margin: 20px 10px;
    }

    .sec7-text7 p {
        padding: 20px 18px;
    }

    .sec7-text7 {
        margin: 30px 0px;
    }

    .sec8 .col-20 {
        width: 24%;
    }

    .sec7-bg2 .col-60 {
        width: 83%;
    }

    .sec7 .col-60 {
        width: 70%;
    }

    .sec8-icon1 {
        top: 10px;
        right: 150px;
    }

    .sec8-icon1 i {
        font-size: 29px;
    }

    .sec9-text {
        padding: 23px;
    }

    .sce9-tex1 p {
        padding: 0px 10px;
    }

    .sce9-tex1 h2 {
        font-size: 59px;
        padding: 0 10px;
    }

    .sce9-tex2 p {
        padding: 10px;
        font-size: 25px;
    }

    .sec10-icon {
        right: 47px;
        bottom: 108px;
    }

    .sec11-ma {
        margin: 80px 0;
    }

    .sec11-ma .col-45 {
        width: 55%;
    }

    .sec11-box2 {
        margin: 50px 0
    }

    .sec11-ma .col-50 {
        width: 40%;
    }

    .sec12-imgbox {
        margin: 10px;
    }

    .sec12-text2 h2 {
        font-size: 23px;
    }

    .sec12-box1 {
        margin: 48px 38px;
        padding: 4px;
    }

    .sec12-box {
        margin: 15px 0;
    }

    .sec12-text2 p {
        font-size: 24px;
    }

    .sec12-text2 h2 {
        font-size: 29px;
    }

    .footer-bg .col-20 {
        width: 23%;
    }

    .footer-bg .col-30 {
        width: 30%;
    }

    .sec3-online-text h2 {
        font-size: 31px;
        font-weight: 300;
        padding: 7px;
    }

    .footer-bg2 {
        margin: 20px 7px;
    }

    .footer-bg {
        padding: 50px 0;
    }

    .footer-text3 h2 {
        font-size: 29px;
    }

}