.card {
    display: flex;
    width: 800px;
}

img {
    width: 100%;
}

.card div {
    flex-basis: 220px;
    transition: all .2s;
}

.card div:hover {
    flex-basis: 300px;
}

.box {
    flex-shrink: 1;
}