div {
    height: 400px;
}

.background-color {
    background-color: cadetblue;
    height: 600px;
}

.background-image {
    background-image: url(Background.jpg);
}

.background-repeat {
    background-image: url(Background.jpg);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

}

.background-attachment {
    background-image: url(Background.jpg);
    background-attachment: local;
    background-attachment: scroll;
    background-attachment: fixed;
}

.background-clip {
    background-image: url(Background.jpg);
    background-clip: content-box;
    background-clip: border-box;
}

.background-origin {
    background-image: url(Background.jpg);
    background-origin: border-box;
    background-origin: content-box;
}

.background-position {
    background-image: url(Background.jpg);
    background-position: 45% 50%;
    /* background-position: right;
    background-position: left;
    background-position: top;
    background-position: bottom;
    background-position: center; */
}

.background-size {
    background-image: url(Background.jpg);
    background-size: 50% 60%;
    background-size: contain;
    background-size: cover;

}