@media (min-width: 320px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }

    .header-text {
        padding: 0px;
    }

    html {
        font-size: 60%;
    }

    .sec1-text1 h2 {
        font-size: 3.3rem;
    }

    .col-40 {
        width: 100%;
    }

    .col-25 {
        width: 100%;
    }

    .sec2-text1 {
        text-align: center;
    }

    #page {
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box6"
            "box5"
            "box8"
            "box7"
            "box9"
            "box10"
            "box11"
            "box12";
        grid-template-rows: auto;
        grid-template-columns: 300px;
    }

    .sec3-bg {
        padding: 20px 0;
    }

    .sec4-bg {
        padding: 0;
    }

    .discover-box1 {
        padding: 0;
    }


    .sec5-text1 p {
        margin: 0;
    }

    .col-50 {
        width: 100%;
    }

    .col-30 {
        width: 100%;
        text-align: center;
    }

    .col-60 {
        width: 100%;
    }

    .sec5-text3 p {
        text-align: justify;
    }

    .col-28 {
        width: 100%;
    }

    .sec9-box {
        margin: 10px;
    }

    .col-15 {
        width: 30%;
    }

    .sec11-text1 {
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    .header-text {
        padding: 30px 0;
    }

    html {
        font-size: 62%;
    }

    .col-40 {
        width: 100%;
    }

    .sec1-text1 {
        margin: 50px 0;
    }

    .sec1-text1 h2 {
        text-align: center;
    }

    .sec2-text1 {
        text-align: center;
    }

    .col-25 {
        width: 100%;
    }

    #page {
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box6"
            "box5"
            "box8"
            "box7"
            "box9"
            "box10"
            "box11"
            "box12";
        grid-template-rows: auto;
        grid-template-columns: 400px;
    }

    .sec3-bg {
        padding: 20px 0;
    }

    .sec4-bg {
        padding: 0;
    }

    .discover-box1 {
        padding: 0;
    }

    .sec5-text1 p {
        margin: 0;
    }

    .col-50 {
        width: 100%;
    }

    .col-60 {
        width: 79%;
    }

    .col-30 {
        width: 100%;
        text-align: center;
    }

    .sec5-text3 p {
        text-align: justify;
    }

    .col-28 {
        width: 100%;
    }

    .sec9-box {
        padding: 50px 20px;
    }

    .col-15 {
        width: 30%;
    }

    .sec11-text1 {
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }

    .sec7-text2 input {
        width: 300px;
        height: 32px;
    }

}

@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .header-text {
        padding: 60px 10px;
    }

    html {
        font-size: 60%;
    }

    .col-40 {
        width: 50%;
    }


    .sec1-text1 {
        margin: 10px;
    }

    .sec1-text1 h2 {
        text-align: center;
    }

    .col-25 {
        width: 100%;
    }

    #page {
        grid-template-areas:
            "box1 box2"
            "box4 box3"
            "box6 box5"
            "box7 box8"
            "box9 box10"
            "box12 box11";
        grid-template-rows: auto;
        grid-template-columns: 350px;
    }

    .sec3-bg {
        padding: 20px 0;
    }

    .sec4-bg {
        padding: 0;
    }

    .discover-box1 {
        padding: 0;
    }

    .sec5-text1 p {
        margin: 0;
    }

    .col-50 {
        width: 100%;
    }

    .col-60 {
        width: 79%;
    }

    .col-30 {
        width: 100%;
    }

    .sec7-text2 input {
        width: 320px;
        height: 40px;
    }

    .col-28 {
        width: 50%;
    }

    .sec9-box {
        padding: 20px;
    }

    .col-15 {
        width: 30%;
    }

    .sec11-text1 {
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .header-text {
        padding: 50px 0;
    }

    html {
        font-size: 55%;
    }

    .col-40 {
        width: 40%;
    }

    .sec1-text1 {
        padding: 10px;
    }

    .sec1-text1 h2 {
        text-align: center;
    }

    .col-25 {
        width: 25%;
    }

    #page {
        grid-template-areas:
            "box1 box2 box3 "
            "box4 box6 box5 "
            "box8 box7 box9 "
            "box10 box11 box12 ";
        grid-template-rows: auto;
        grid-template-columns: 350px;
    }

    .sec3-bg {
        padding: 20px 0;
    }

    .sec4-bg {
        padding: 0;
    }

    .discover-box1 {
        padding: 0;
    }

    .sec5-text1 p {
        margin: 0;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 60%;
    }

    .col-30 {
        width: 30%;
    }

    .sec7-text2 input {
        width: 250px;
        height: 32px;
    }

    .col-28 {
        width: 33%;
    }

    .sec9-box {
        padding: 10px;
    }

    .col-15 {
        width: 15%;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    html {
        font-size: 65%;
    }

    .menu-right ul li {
        padding: 15px;
    }

    .col-40 {
        width: 40%;
    }

    .sec1-text1 {
        margin: 40px 15px;
    }

    .col-25 {
        width: 25%;
    }

    #page {
        grid-template-areas:
            "box1 box2 box3 box4"
            "box5 box6 box7 box8"
            "box9 box10 box11 box12";
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px 250px;
    }

    .sec4-bg {
        padding: 50px;
    }


    .discover-box1 {
        padding: 50px 0;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 70%;
    }

    .sec9-box {
        padding: 0 15px;
    }

    .col-28 {
        width: 32%;
    }

    .col-15 {
        width: 15%;
    }


    .sec11-text1 {
        width: 70%;
        padding: 10px 0;
    }

}


@media (min-width: 1400px) {
    .container {
        width: 1380px;
        margin: 0 auto;
    }

    html {
        font-size: 70%;
    }

    .col-40 {
        width: 40%;
    }

    .header-text {
        padding: 80px 50px;
    }

    .sec1-text1 {
        margin: 40px 15px;
    }

    .col-25 {
        width: 25%;
    }

    #page {
        grid-template-areas:
            "box1 box2 box3 box4"
            "box5 box6 box7 box8"
            "box9 box10 box11 box12";
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px 250px;
    }

    .sec4-bg {
        padding: 50px;
    }


    .discover-box1 {
        padding: 50px 0;
    }

    .sec5-text1 h2 {
        font-size: 5rem;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 70%;
    }

    .sec9-box {
        padding: 0 15px;
    }

    .col-28 {
        width: 28%;
    }

    .col-15 {
        width: 15%;
    }

    .sec11-text1 {
        width: 70%;
        padding: 10px 0;
    }

}