* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.header {
    background-color: lightskyblue;
    font-family: serif;
    color: black;
    display: flex;
}

.header h1 {
    width: 90%;
    text-align: center;
    padding: 10px;
}

.logoimg img {
    width: 70px;
    padding: 10px;
}

.navbar {
    background-color: lightslategray;
    width: 100%;
}


.navbar1 li {
    display: inline-block;
    font-family: serif;
    padding: 10px 10px;

}

.navbar2 li {
    display: inline-block;

}

.sidebar h2 {
    padding: 20px 0 10px 30px;
    font-size: 20px;
}

.img img {
    border-radius: 15px;
    width: 250px;

}

.sidebar {
    display: inline-block;
    width: 30%;
}

.main {
    display: inline-block;
    width: 70%;
    padding: 10px;

}

.main h2 {
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar1 {
    padding: 20px;
    width: 50%;
}

.sidebar2 {
    padding: 20px;
    width: 50%;
}