* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.main {
  padding-top: 100px;
  width: 100%;
  /* background-image: url("./bg.jpg"); */
  /* background-image: url("./bg2.jpg"); */
  /* background-image: url("./bg3"); */
  background: linear-gradient(115deg, rgba(6, 137, 146, 0.207), rgba(75, 70, 80, 0.382)), url(./bg3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.form {
  background: linear-gradient(115deg, rgba(31, 59, 61, 0.8), rgba(75, 70, 80, 0.382));
  margin: 0 auto;
  width: 50%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.title_1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
}

.para {
  font-style: italic;
  padding: 2px;
}

.form_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.uno {
  padding: 5px;
  text-align: center;
}

#name,
#email,
#number,
#dropdown,
#submit,
input {
  background: white;
  padding: 10px 90px;
  font-size: 1rem;
  border: transparent;
  border-radius: 5px;
  text-align: center;
}

.textarea {
  border: transparent;
  border-radius: 5px;
}

.submit {
  margin: 25px;
  text-align: center;
}