* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid; */
}


.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.header-img1 {
    width: 100%;
    z-index: -1;
    top: 70px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.active {
    margin: 15px 10px;
}

.active input {
    padding: 5px 10px;
    border: 3px solid gray;
    border-radius: 10px;
}

.active i {
    top: 7px;
    right: 10px;
    font-size: 15px;
    color: gray;
}

.jsc {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.nav-bar li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}

.nav-bar input {
    padding: 10px 0;
    border-radius: 15px;
    background: #7f7770;
    opacity: 0.471;
    border: none;
}

.nav-bar a {
    color: #54524f;
    font-family: sans-serif;
}

.nav-bar i {
    position: absolute;
    right: 30px;
    top: 55px;
    color: #54524f;
}

.logo img {
    padding: 15px;
}

.sec1-bg {
    background-image: linear-gradient(90deg, rgba(52, 52, 52, 0.046) 0%, rgb(67 64 55 / 0%) 100%), url(../img/sec1.png);
    z-index: -2;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.sec1-text {
    margin: 50px 10px 100px;
    padding: 50px 10px 100px;
}

.sec1-text h2 {
    font-size: 4.5rem;
    color: #deb37e;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

.pra1 {
    letter-spacing: 2px;
    color: #54524f;
    font-weight: 900;
    font-style: italic;
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 10px;
    padding: 5px 0;
}

.sec1-text button {
    margin-top: 40px;
    padding: 12px 32px;
    border-radius: 21px;
    background-color: white;
    color: #776c64;
    font-weight: bolder;
    font-family: "Open Sans";
    text-align: center;
    font-size: 1.5rem;
    border: none;
}

.pra2 {
    margin: 20px 0;
    width: 550px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #54524f;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}

.sec1-img1 {
    width: 100%;
    bottom: 0;
}

.sec2-text h2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #e2a355;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
}

.sec2-text p {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    font-size: 1.8rem;
    color: #7f7770;
    font-weight: 400;
    font-family: sans-serif;
}



.sec2-box {
    /* height: 480px; */
    background-color: #7f7770;
    box-shadow: 3px 2px 3px #7f7770;
}

.sec2-img img {
    width: 100%;
}

.sec2-text2 {
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
}

.sec2-text2 h2 {
    padding: 20px;
    font-size: 3rem;
}

.sec2-text2 p {
    padding: 15px;
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 200;
}

.spe {
    justify-content: space-evenly;
}

.bt button {
    margin: 50px 0;
    padding: 15px 30px;
    border-radius: 23px;
    border: none;
    color: #ffffffeb;
    background: #7f7770;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Open Sans";
}

.bt {
    margin: 0 auto;
}

.sec3-img img {
    display: block;
    width: 100%;
}

.sec3-main1 {
    background-color: #7f7770;
}

.sec3-text1 {
    width: 85%;
    margin: 0 auto;
    color: #ffffff;
}

.sec3-text1 h2 {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Open Sans";
}

.sec3-text1 p {
    margin: 25px 0;
    font-size: 1.8rem;
    font-weight: 500px;
    font-family: sans-serif;
}

.sec3-text1 button {
    padding: 15px 25px;
    border-radius: 22px;
    background-color: #e2a355;
    color: #ffffff;
    letter-spacing: 5px;
    font-weight: 600;
    border: none;
    font-size: 1rem;
}

.sec3-main2 {
    background-color: #deb37e;
}

.sec4-bg {
    background-color: #7f7770;
    top: 20px;
    opacity: 0.900;
}

.sec4-img1 {
    width: 100%;
    top: 0px;
}

.sec4-text {
    color: #ffffff;
    /* margin: 100px 30px 100px; */
    padding: 100px 30px 100px;
}

.sec4-text h2 {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 70px;
    text-align: center;
    filter: drop-shadow(2px -4px 2px #ffffff65);
}

.sec4-text p {
    font-size: 2rem;
    padding: 40px 50px 50px 50px;
    text-align: center;
    font-family: sans-serif;
}

.sec4-img2 {
    width: 100%;
    bottom: -10px;
}

.sec5-img1 {
    width: 100%;
}

.sec1-img1 {
    width: 100%;
}

.sec5-bg {
    /* background-image: linear-gradient(100deg, rgba(52, 52, 52, 0.046) 0%, rgb(67 64 55 / 0%) 100%), url(img/img9.png); */
    background-image: linear-gradient(100deg, rgba(52, 52, 52, 0.046) 0%, rgb(67 64 55 / 0%) 100%), url(../img/img9.png);
    z-index: -2;
    background-position: center;
    background-size: cover;
    top: 80px;
    margin-bottom: 100px;
}


.sec5-text h2 {
    font-size: 4.5rem;
    color: #e0a051;
    font-weight: 800;
    font-style: italic;
    font-family: "Open Sans";
    padding: 100px 40PX 20PX 0;
    text-align: right;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));
}

.sec5-text p {
    font-size: 4.5rem;
    color: #393632d0;
    font-weight: 800;
    padding: 20px 0 100px;
    font-style: italic;
    font-family: "Open Sans";
    filter: drop-shadow(3.575px -1.286px 2.5px rgba(84, 82, 79, 0.454));
}

.sec5-text {
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px 0;
}

.sec5-img2 {
    width: 100%;
    bottom: 0;
}



.sec6-box {
    text-align: center;
    margin: 20px;
}

.sec6-text h2 {
    font-size: 3rem;
    line-height: 33px;
    color: #deb37e;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 50px 0 20px;
}

.sec6-text p {
    font-size: 1.8rem;
    line-height: 30px;
    color: #776c64;
    font-weight: 500;
    font-family: sans-serif;
}

.sec7-text2 p {
    margin: 27px 70px 10px;
    padding: 20px 70px 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #776c64;
    font-weight: 400;
    font-family: sans-serif;
}

.sec8-bg {
    background-color: #deb37e;
    top: 20px;
    opacity: 0.900;
}

.sec8-img1 {
    width: 100%;
    top: 0px;
}

.sec8-text {
    color: #ffffff;
    margin: 100px 30px 100px;
    padding: 100px 30px 100px;
    text-align: center;
    color: #ffff;
}

.sec8-text h2 {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 70px;
    text-align: center;
    filter: drop-shadow(2px -4px 2px #ffffff65);
}

.sec8-text p {
    font-size: 2rem;
    padding: 40px 50px 50px 50px;
    text-align: center;
    font-family: sans-serif;
}

.sec8-img2 {
    width: 100%;
    bottom: 0;
}

.footer-bg {
    background-color: #7f7770;
    top: 20px;
    opacity: 0.900;
    padding-bottom: 80px;
}

.footer-img1 {
    width: 100%;
    top: 0px;
}

.footer-ma-pa {
    margin-top: 80px;
    padding-top: 80px;
}

.footer-text2 li {
    display: inline-block;
}

.footer-text1 {
    color: #ffff;
}

.footer-text1 h2 {
    font-size: 2.5rem;
    color: #ffff;
}

.canter {
    justify-content: center;
}

.footer-text1 ul li {
    color: #ffff;
    font-family: sans-serif;
    font-size: 1.6rem;
    padding: 4px 0;
}

.footer-text1 p {
    width: 70%;
    font-size: 1.6rem;
    padding: 4px 0;
    font-family: sans-serif;
}


.footer-text1 i {
    color: #ffffff;
    margin: 5px 10px;
}


.container {
    width: 1380px;
}

.col-40 {
    width: 100%;
}

.col-30 {
    width: 100%;
}

.col-15 {
    width: 100%;
}

.col-25 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.submit {
    margin: 0 auto;
    width: 60%;
}

.sec8-text input {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 20px;
}

.sec8-text button {
    border: none;
    right: 0;
    outline: none;
    border-radius: 20px 20px;
    padding: 10px 50px;
    background-color: rgba(51, 119, 96, 0.195);
}

/* <------animation-------> */
.sec2-img {
    overflow: hidden;
}

.sec2-img img {
    transition: all 2S;

}

.sec2-img img:hover {
    transform: scale(1.1);
    opacity: 0.7;

}

.sec3-img {
    overflow: hidden;
}

.sec3-img img {
    transition: all 2S;

}

.sec3-img img:hover {
    transform: scale(1.1);
    opacity: 0.7;

}

button {
    transition: all 2s;
}

button:hover {
    color: black;
    box-shadow: inset 1px 2px 2px 30px rgba(255, 255, 255, 0.525);
    cursor: pointer;
}

input:focus {
    outline: 2px solid #54524f;
}

ul li,
.footer-text1 h2 {
    transition: all 1s;
}

ul li:hover {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.499);
}

.footer-text1 h2:hover {
    color: rgba(0, 0, 0, 0.499);
}

.toggle-menu {
    display: block;
}

.menu-right ul li {
    display: none;

}

.menu-right ul {
    position: absolute;
    left: -200px;
    width: 80%;
    /* background-color: #776c642d; */
    transition: all 2s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
    background-color: #e2a25553;
    backdrop-filter: blur(60px);

}

.menu-right ul li {
    border: 2px solid #fff;
}

.menu-right input {
    display: none;
}

.toggle-menu {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    font-size: 25px;
}

.active i {
    top: -10px;
    right: 30px;
}

.dips-b-mobile ul {
    position: absolute;
    left: -15px;
}

.dips-b-mobile ul li {
    display: block;
}